shared/*
*.swp
*~
\#*\#
containers/*
cids/*
bin/*
image/.build.out
image/.build.hash
image/.docker_temp_*
image/img.tar
image/squash.tar
image/nsenter/nsenter
image/docker-squash
image/docker-squash.tar.gz
image/bamzooka_dev/postgres.template.yml
image/bamzooka_dev/redis.template.yml
.gc-state/*
.vagrant/
.idea/
image/base/bamzooka